---
# Add a comment to make this file sass-y. # Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
    display: inline;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "syntax",
"starsnonscss"
;

.circular--square {
    border-radius: 50%;
}

.href-no-color-change {
    color: inherit;
    text-decoration: none;
}


.title-logo-lettering {
	font-family: Righteous;
	margin-top: 20px;
}

.title-logo-lettering.gallery-title {
	margin-left: 10px;
}

@media screen and (min-width: 400px) {
	.title-logo-lettering {
		margin-left: 15px;
	}

	.title-logo-lettering.gallery-title {
		margin-left: 25px;
	}
}

@media screen and (min-width: 400px) and (max-width: 576px){
	.title-logo-lettering {
		margin-left: 0px;
	}

	.title-logo-lettering.gallery-title {
		margin-left: 10px;
	}
}

@media screen and (min-width: 990px) {
	.title-logo-lettering {
		margin-left: 0px;
	}

	.title-logo-lettering.gallery-title {
		margin-left: 10px;
	}
}

@media screen and (min-width: 1500px) {
	.title-logo-lettering {
		margin-left: -15px;
	}

	.title-logo-lettering.gallery-title {
		margin-left: 0px;
	}
}